.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 74px;
  float: left;
  margin: 15px;
}

.App-name {
    display: inline-block;
    margin-top: 38px;
    margin-left: -82px;
}

.App-header {
  background-color: #222;
  height: 131px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tabcontent {
    padding: 1em;
}

.profile {
    float: left;
    max-width: 50%;
}
.user-welcome {
    text-align: left;
    margin-left: 2em;
}
.stats-list {
    list-style: none;
    margin-top: 5px;
    text-align: left;
    -webkit-padding-start: 1em;
    display: inline-block;
}

.activities-dropdown {
    background: none !important;
    margin-top: 20px;
}

.team-stats {
    margin-top: 20px;
    text-align: left;
    max-width: 50% !important;
    float: right;
}

.table-totals {
    font-weight: bold;
}

img {
    max-height: 280px;
}

.dropdown-menu-cust {
    background-color: #F0FFFF;
}
